@font-face {
  font-family: "Rozovii Chulok";
  src: url("fonts/Rozovii Chulok.woff2") format("woff2"),
  url("fonts/Rozovii Chulok.woff") format("woff"),
  url("fonts/Rozovii Chulok.ttf") format("truetype");
}

* {
    font-family: Rozovii Chulok, sans-serif;
    font-weight: normal;
  }
  
body {
    padding: 0;
    margin: 0;
    background-image:url("images/background.png");
  }

  .main-box {
    font-size: 1.3rem;
    display: grid;
    justify-content: center;
    min-height: 7vh;
    grid-template-columns: repeat(1, 400px) repeat(1, auto);
  }
  
  .main-box > button {
    cursor: pointer;
    font-size: 2rem;
    border: white;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
  }

  .main-box > input {
    border: 2px solid white;
    border-radius: 7px;
    outline: 2.5px;
    background-color: rgba(255, 255, 255, .5);
    font-size: 3rem;
    margin-right: 20px;
    max-width: 400px;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    width: 27%;  
    height: auto;  
  }

  .js-todos {
    padding-inline-start: 50px;
    margin-top: 10px;
    margin-left: 25%;
    margin-right: 28%;
    justify-content: center;
    display: grid;
    border-radius: 10px;
    font-size: 2.5rem;
  }